#main-word {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 400%);
	text-align: center;
	width: 40%;
	padding: 20px;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	border: none;
	border-bottom: 2px solid black;

}

#input-word {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 600%);
  text-align: center;
  width: 80%;
  padding: 20px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 40px;
}

#answer-btn {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 700%);
	text-align: center;
	width: 40%;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border: none;
	border-bottom: 2px solid black;
	border-radius: 40px;
}

#start-btn {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 500%);
	text-align: center;
	width: 40%;
	padding: 10px 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border: 4px;
	border-bottom: 2px solid black;
	border-radius: 40px;
	font-size: 2.5rem;
	font-weight: bold;
}

.hide {
	display: none;
}

